@{
    var isFeatured = (bool)Model.IsFeatured;
    var isSticky = (bool)Model.IsSticky;
    var weight = (int)Model.Weight;
    var itemId = Model.Id;
}
<article>
    Is Featured: @isFeatured<br />
    Is Sticky: @isSticky<br />
    Weight: @weight<br />
    <footer>
        <button itemid=@itemId vote="Agree"  onclick="Vote(this)">Agree</button>
        <button itemid=@itemId vote="Disagree" onclick="Vote(this)">Disagree</button>
    </footer> 
</article>